<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hospital Universitário de Canoas</title>
    <link rel="stylesheet" href="../css/main.css">
    <script type="text/javascript" src="../lib/main.js"></script>
  </head>
  <body>
    <!-- Começo Navbar -->
     <nav class="navbar" role="navigation" aria-label="main navigation">
        
        <div class="navbar-brand">
         <a class="navbar-item" href="../index.html">
           <img class="is-shadowless" src="../images/hu_logo.png" width="112">
         </a>
       
        
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
        </a>
        </div>
        
        <div class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="sobre.html">
              Sobre o Hospital Universitário
            </a>
            <a class="navbar-item" href="news.html">
              Notícias
            </a>
            <a class="navbar-item" href="info.html">
                Informações
            </a>
            <a class="navbar-item" href="responsabilidade.html">
                Responsabilidade Social
            </a>
            <a class="navbar-item" href="contato.html">
                Contato
            </a>            
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary" href="">
                  <strong>Trabalhe Conosco</strong>
                </a>
              </div>
            </div>
          </div>
        </div>

     </nav>
     <!-- Fim Navbar -->
     
     <!--CONTEUDO-->
     <section class="section conteudo-responsa">
         <div class="columns has-text-centered">
            <div class="column is-half">
                <h1 class="title has-text-primary">Parcerias Públicas</h1>
                <ul>
                    <li>HPSC</li>
                    <li>UPA Rio Branco</li>
                    <li>CAPS</li>
                    <li>outros</li>
                </ul>
            </div>
            <div class="column is-half">
                <h1 class="title has-text-primary">Sustentabilidade</h1>
                <ul>
                    <li>Ações Sustentáveis</li>
                    <li>Relatórios</li>
                    <li>etc</li>
                </ul>
            </div>
         </div>
     </section>
     <!--FIM CONTEUDO-->

     <!--Footer-->
     <footer class="footer">
        <div class="content has-text-centered">
          <h1 class="title is-size-5 has-text-white-ter">Links úteis</h1>
          <div class="columns">
            <div class="column is-half">
              <p class="is-size-6 is-marginless">Página inicial</p>
              <p class="is-size-6 is-marginless">Sobre nós</p>
              <p class="is-size-6 is-marginless">Notícias</p>
            </div>
            <div class="column is-half">
              <p class="is-size-6 is-marginless">Informações</p>
              <p class="is-size-6 is-marginless">Responsabilidade Social</p>
              <p class="is-size-6 is-marginless">Contato</p>
            </div>
          </div>
        </div>
     </footer>
     <!--Fim do Footer-->
  </body>
</html>